data.sqlite
airports.sqlite
data/__pycache__/script.cpython-310.pyc
.vscode/settings.json
trainstops.sqlite
cars.sqlite
temperatures.sqlite
GTFS/agency.txt
GTFS/calendar_dates.txt
GTFS/routes.txt
GTFS/stop_times.txt
GTFS/stops.txt
GTFS/trips.txt
gtfs.sqlite
